<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>PRJ321x_ASM3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>username</param-name>
    <param-value>Lee12488@funix.edu.com</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>admin123</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>5000</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToController</display-name>
    <servlet-name>AddToController</servlet-name>
    <servlet-class>controller.AddToController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToController</servlet-name>
    <url-pattern>/AddToController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCartToDatabaseServlet</display-name>
    <servlet-name>SaveCartToDatabaseServlet</servlet-name>
    <servlet-class>controller.SaveCartToDatabaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCartToDatabaseServlet</servlet-name>
    <url-pattern>/SaveCartToDatabaseServlet</url-pattern>
  </servlet-mapping>
</web-app>